body {
    padding: 100px 20px;
    background-color: #f5f5f5;
}

.main-title {
    text-align: center;
    width: 550px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.todo-list {
    background-color: #fff;
    width: 550px;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todo-input {

}

.todo-input input {
    width: 100%;
    border: 1px solid #ccc;
    border-width: 0 0 1px 0;
    font-size: 38px;
    padding: 10px;
}

.todo-footer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.items-remaining {
    flex: 0;
    flex-basis: 20%;
    white-space: nowrap;
}

.filters {
    flex: 0;
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters > div {
    margin: 0 5px;
    padding: 2px 5px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.filters > div:hover {
    text-decoration: underline;
    cursor: pointer;
}

.clear-completed {
    flex: 0;
    flex-basis: 20%;
    white-space: nowrap;
    text-align: right;
}

.clear-completed:hover {
    text-decoration: underline;
    cursor: pointer;
}

.active {
    border: 1px solid #efd9d9 !important;
}